body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard_title {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0; /* Remove default margin */
}

.top_lists{
    position: absolute;
    top: 100px;
    left: 50px;
    margin: 0; /* Remove default margin */
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top_dashboard {
    flex: 1;
    padding: 20px;
    background-color: rgb(14, 24, 98);
    display: flex;
    flex-direction: column;
}

.bottom_dashboard {
    flex: 1;
    padding: 20px;
    background-color: rgb(14, 24, 98);
    display: flex;
    flex-direction: column;
}


.main {
    flex: 5;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top_main {
    flex: 2;
    background-color: rgb(174, 200, 200);
    height: 200px;

}
.bottom__main {
    flex: 8;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    height: 100vh; /* Adjust the height as needed */
}

#project_name {
    flex: 3;
    background-color: gainsboro; /* Optional: for visualization */
    
}

.announcement_trending {
    flex: 1;
    background-color: lightcoral; /* Optional: for visualization */
    display: flex;
    flex-direction: column;
}

.announcements {
    flex: 1;
    background-color: lightgray;
}
.trending {
    flex: 1;
    background-color: lightyellow; /* Optional: for visualization */
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap between divs as needed */
    grid-template-columns: 1fr 1fr;
}

.project_1_left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    width: 550px;

}

.project_1_right{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    width: 550px;
}

.project{
    margin: 2px;
}
.top_main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px; /* Adjust the gap between the divs if needed */
}

.top_main_left{
    padding: 20px;
    
}

.top_main_right{
    padding: 20px;
}

.account_name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-around;
}

.search_box{
    padding: 20px;;
}

.fa{
    padding-right: 20px;
}

.search-box {
    height: 40px;
    width: 600px;
    padding: 0;
    margin: 0;
    border-radius: 10px;

}

.home_name{
    padding-top: 0px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
width: 90px;
height: 90px;
border-radius: 50%; /* Makes the image circular */
object-fit: cover;
}

.hi_there{
    font-size: 20px;
    color: black;
}

.morgan_oakly{
    font-size: 40px;
    color:black;
}

.image_top_right img{
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;  
}

.morgan_oakly_right{
    font-size: 20px;
    color:black;
    padding-top: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* Adjust gap between buttons */
    padding-top: 60px;
}
.button {
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #23829f;
    cursor: pointer;
    color: white;
}

ul.lists{
    list-style-type: none;
    padding: 30px;
    color: white;
    font-size: 20px;
    margin-top:0px;
}


ul li{

    margin-bottom: 30px;
}

p{
    font-size: 30px;
    color: white;
}

h{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
h1{
    font-size: 15px;
    color: black;
    margin-left: 0px;
}
h3{
    font-size: 20px;
    color: black;
    margin-left: 0px;
    margin-top: 0;
}

.icon_container {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
.icon {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify_text{
    text-align: justify;
    width: 500px;
    margin: 5px;
}

.yellow_bar_and_project{
    display: grid;
    grid-template-columns: 1fr 50fr;
    height: 200px;
    border: 1px solid red;
    margin:  10px;
    background-color: white;
}

.yellow_bar{
    background-color: yellow;
    height: 200px;
    width: 10px;
}


